.review-article {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--primary-background);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.avatar-img {
    max-width: 120px;
    max-height: 120px;
}

.review-avatar-div {
  margin: 10px;
}

.review-p {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .review-article {
    display: flex;
    flex-direction: column;
  }
  .review-avatar-div {
    margin: 5px;
    text-align: center;
  }
  .review-p {
    margin: 5px;
  }
}
