@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --primary-background: #e5ebf5;
  --secondary-background: #ffffff;
  --primary-background-opacity: rgba(206, 220, 245, 0.9);
  --dark-font-color: #3e64a2;
  --shadow: #dfdfdf;
  --light-font-color: #e5e5f5;
  --button-color: #7a99cc;
}

body {
  margin: 0 auto 0 auto;
  font-family: "Roboto Condensed";
  text-align: center;
  max-width: 1024px;
}

a {
  text-decoration: none;
}